@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
}

.no-scroll::-webkit-scrollbar {
    display: none;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #666;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #222;
    border-radius: 5px;
    cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #222;
}
