@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
}

.no-scroll::-webkit-scrollbar {
    display: none;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #666;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #222;
    border-radius: 5px;
    cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #222;
}

.cubesWrapper {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 52px;
    contain: paint;
}
.cube {
    background-color: #7289da;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: cubeSpinner 1.8s ease-in-out infinite;
    animation: cubeSpinner 1.8s ease-in-out infinite;
}

.cube:last-child {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

@-webkit-keyframes cubeSpinner {
    25% {
        -webkit-transform: translateX(22px) rotate(-90deg) scale(0.5);
        transform: translateX(22px) rotate(-90deg) scale(0.5);
    }

    50% {
        -webkit-transform: translateX(22px) translateY(22px) rotate(-180deg);
        transform: translateX(22px) translateY(22px) rotate(-180deg);
    }

    75% {
        -webkit-transform: translateX(0) translateY(22px) rotate(-270deg)
            scale(0.5);
        transform: translateX(0) translateY(22px) rotate(-270deg) scale(0.5);
    }

    to {
        -webkit-transform: rotate(-1turn);
        transform: rotate(-1turn);
    }
}

@keyframes cubeSpinner {
    25% {
        -webkit-transform: translateX(22px) rotate(-90deg) scale(0.5);
        transform: translateX(22px) rotate(-90deg) scale(0.5);
    }

    50% {
        -webkit-transform: translateX(22px) translateY(22px) rotate(-180deg);
        transform: translateX(22px) translateY(22px) rotate(-180deg);
    }

    75% {
        -webkit-transform: translateX(0) translateY(22px) rotate(-270deg)
            scale(0.5);
        transform: translateX(0) translateY(22px) rotate(-270deg) scale(0.5);
    }

    to {
        -webkit-transform: rotate(-1turn);
        transform: rotate(-1turn);
    }
}
